{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Dulcería Cachupín - Gestión de Usuarios</title>

    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="shortcut icon" href="{% static 'Imgs/dulce2.png' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{% static 'JS/Funciones.js' %}"></script>


        <script>
          $(function() {
          $(".exp").on("click", function() {

              if ($(".item").hasClass("active")) {
                  $(".item").removeClass("active");
              }

              else {
                  $(".item").addClass("active");
              }

          });
      });
          </script>

</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="exp"><a><span class="barra"></span></a></li>
                <li class="logo"><a href="{% url 'inicio' %}">Dulcería Cachupín</a></li>
                <li class="productos item"><a href="{% url 'productos' %}">Productos</a></li>
                <li class="login item"><a href="{% url 'login' %}">Ingresar</a></li>
                <li class="signup item"><a href="{% url 'registro' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>

    <div class="fondo_gestion">
        <div class="cont">
            <h1 class="etiq"><kbd>Listado de Usuarios</kbd></h1>
        </div>
        <form method="GET">
            <div class="cont">
                <div class="col-sm-12 panel_blanco">
                    <div class="col-sm-4 centrado">
                        <h5>Rut:</h5>
                        {{ cli_filtro.form.rut }}
                        <h5>NickName:</h5>
                        {{ cli_filtro.form.nick }}
                        <h5>Correo:</h5>
                        {{ cli_filtro.form.correo }}
                    </div>
                    <div class="col-sm-4 centrado">
                        <h5>Nombre:</h5>
                        {{ cli_filtro.form.nombre }}
                        <h5>Apellido Paterno:</h5>
                        {{ cli_filtro.form.apellido_paterno }}
                        <h5>Apellido Materno:</h5>
                        {{ cli_filtro.form.apellido_materno }}
                    </div>
                    <div class="col-sm-4 centrado">
                        <h5>Fecha Nacimiento (Inicio):</h5>
                        {{ cli_filtro.form.fecha_n_inicio }}
                        <h5>Fecha Nacimiento (Termino):</h5>
                        {{ cli_filtro.form.fecha_n_termino }}
                        <h5>Tipo De Usuario:</h5>
                        {{ cli_filtro.form.tipoUsuario }}
                    </div>
                    <input class="col-sm-12 btn btn_primary" type="submit" value="Buscar">
                </div>
            </div>
        </form>
            {% for cli in clientes %}
            <div class="cont">
                <div class="col-sm-12 panel_blanco">
                    <div class="col-sm-12 info_usu">
                        <section class="col-sm-6">
                            <h1><kbd>{{ cli.nick }}</kbd></h1>
                            <h1>{{ cli.nombre }} {{ cli.apellido_paterno }} {{ cli.apellido_materno }}</h1>
                            <h2>{{ cli.rut }}</h1>
                        </section>
                        <div class="col-sm-6 botones">
                            <a class="col-sm-12 btn btn-primary space-btn" href="/editar/{{cli.rut}}">Modificar</a>
                            <a class="col-sm-12 btn btn-danger space-btn" href="/eliminar/{{cli.rut}}">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>

    <div>
        <div class="col fondoa col-copyright">
            <p class="copyright">© 2020 Dulceria Cachupin.</p>
            <button class="btn-galleta btn btn-success" type="button" name="button" onclick="galleta()">Galleta de la fortuna</button>
        </div>
      </div>
</body>
</html>