{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Dulcería Cachupín - Registro</title>
    <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="shortcut icon" href="{% static 'Imgs/dulce2.png' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="{% static 'JS/Funciones.js' %}"></script>

        <script>
            $(function() {
            $(".exp").on("click", function() {

                if ($(".item").hasClass("active")) {
                    $(".item").removeClass("active");
                }

                else {
                    $(".item").addClass("active");
                }

            });
        });
            </script>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="exp"><a><span class="barra"></span></a></li>
                <li class="logo"><a href="{% url 'inicio' %}">Dulceria Cachupín</a></li>
                <li class="productos item"><a href="{% url 'productos' %}">Productos</a></li>
                <li class="login item"><a href="{% url 'login' %}">Ingresar</a></li>
                <li class="signup item"><a href="{% url 'registro' %}">Registrarse</a></li>
            </ul>
        </nav>  
    </header>
    <div class="fondor">
        <div class="cont">
            <h1 class="etiq"><kbd>Regístrate!</kbd></h1>
            <div class="formulario"></div>
                <form action="{% url 'usuario' %}" method="POST" onsubmit="return validarContras();">
                    {% csrf_token %}
                    <label class="etiq" for="nombre">Nombre:</label>
                    <input class="col-sm-12 form-control" id="nombre" type="text" required name="nombre" placeholder="Ingrese su nombre" pattern="[a-zA-Z- ]{1,100}">

                    <label class="etiq" for="apellidoP">Apellido Paterno:</label>
                    <input class="col-sm-12 form-control" id="apellidoP" type="text" required name="apellidoP" placeholder="Ingrese su apellido paterno" pattern="[a-zA-Z- ]{1,100}">

                    <label class="etiq" for="apellidoM">Apellido Materno:</label>
                    <input class="col-sm-12 form-control" id="apellidoM" type="text" required name="apellidoM" placeholder="Ingrese su apellido materno" pattern="[a-zA-Z- ]{1,100}">

                    <label class="etiq" for="rut">RUT:</label>
                    <input class="col-sm-12 form-control" id="rut" type="text" required name="rut" placeholder="Rut" oninput="validaRut(this)">

                    <label class="etiq" for="nick">Nickname:</label>
                    <input class="col-sm-12 form-control" id="nick" type="text" required name="nick" placeholder="Nick de usuario" pattern=".{5,15}">

                    <label class="etiq" for="correo">Correo:</label>
                    <input class="col-sm-12 form-control" id="correo" type="email" required name="correo" placeholder="Ingrese un correo">

                    <label class="etiq" for="fecha">Fecha de nacimiento:</label>
                    <input class="col-sm-12 form-control" id="fecha" type="date" required name="fecha">

                    <label class="etiq" for="pw1">Contraseña:</label>
                    <input class="col-sm-12 form-control" type="password" required id="pw1" name="confcont" placeholder="Ingrese una contraseña" pattern=".{6,}">

                    <label class="etiq" for="pw2">Confirme la contraseña:</label>
                    <input class="col-sm-12 form-control" type="password" required id="pw2" name="confcont" placeholder="Confirme su contraseña" pattern=".{6,}">

                    <input class="col-sm-12 btn btn-primary btn-lg" type="submit" value="Registrarse">
                    <input class="col-sm-12 btn btn-danger btn-lg" type="reset" value="Borrar">

                </form>
        </div>
        </div>
    </div>

    <div>
        <div class="col fondoa col-copyright">
          <p class="copyright">© 2020 Dulceria Cachupin.</p>
          <button class="btn-galleta btn btn-success" type="button" name="button" onclick="galleta()">Galleta de la fortuna</button>
        </div>
      </div>
</body>
</html>
